#social {
    text-align: center;
}
.twitter {
    text-align: center;
}
.github {
    text-align: center;
    color: #000000
}
h1 {
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    font-size: 149px;
    color: black;
}
h3 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}
.steam {
    text-align: center;
    color: #000000;
}
.steam:hover {
    color: #555555;
}